*{
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  font-size: 20px;
  margin: 10px 0 10px 10px;
}

footer{
  margin: 10px 0 10px 10px;
  text-align: center;
}

.home-page , .product-page , .Not-found , .file-upload{
  min-height: 88vh;
  padding-left: 5px;
  padding-right: 5px;
}

a{
  text-decoration: none;
  color: black;
}

.col-12 .product-image{
  padding: 10px;
  height: 45vh;
}